<form>
    <div class="container-head">
        <h2 class="title_rick" >RICK AND MORTY</h2>
        <div class="imagenes">
            <img class="rym" src="./assets/rym.svg">
            <img class="portal" src="./assets/portal.svg">
            
            <div class="alien character ">
                <img class="meezeek2" src="./assets/meezeek2.svg">
                <h4 class="character-title">PERSONAJES</h4>
            </div>
            <div class="alien">
                <img class="meezeek1" src="./assets/meezeek1.svg">
                <h4 class="episode">EPISODIOS</h4>
            </div>
        </div>   
    </div>
    <app-form-search></app-form-search>
</form>
